<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'alunos/css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Aluno</title>
</head>
<body>
    <header class="page-header">
        <span class="header-bullets"></span>
        <span class="header-bullets"></span>
        <span class="header-bullets"></span>
    </header>
    <h1>Cadastrar Aluno</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cadastrar</button>
    </form>
</body>

</html>